<div class="filter-city-content">
    <div class="city-level city-left">
        <ul class="city-ul">
            
            <li class="city-item">
                本地优先
            </li>
            {{#each proviceList}}
            <li class="city-item">
                {{this}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="city-level city-right">
            <ul class="city">
                    
                <li class="city-item">
                    本地优先
                </li>
                
            </ul>
    </div>
</div>
<div class="mask"></div>