<header>
    <div class="leftButtom"></div>
    <div class="searchInput">
        <i class="yo-ico">&#xe625;</i>
        <input type="text" value="搜索专业人才为您服务，如:包装设计">

    </div>
    <i class="yo-ico">&#xe621;</i>
</header>
<main class="requireMain">
    <div class="sticky-position">
        <ul class="sticky-ul">
            <li>
                <div class="city-filter">
                    <a href="javascript:void(0)">
                        <label class="choose-city"> 本地优先</label>
                        <span></span>
                    </a>
                    <div class="filter-city-shadow">
                        
                    </div>
                    
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="active">
                    综合
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    成交
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    好评
                </a>
            </li>
            <li>
                <div class="filter-extend">
                    <a href="javascript:void(0)">
                        <label>筛选</label>
                        <i class="yo-ico">&#xe60d;</i>
                    </a>
                    <div class="filters-extend-shadow">
                        <div class="mask"></div>
                        <div class="filter-extend-content">
                           
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="load-more">
        <div class="load-more-body">
            
        </div>
        <div class="load-more-footer">

        </div>
    </div>
</main>