<div class="cateContent">
    <header>
        <div class="goBack"><i class="yo-ico">&#xe607;</i></div>

        <ul class="top-bar-box">
            <li class="header-tab-item">
                <span class="header-tab-title selected j_headerTabTit">服务</span>
            </li>
            <li class="header-tab-item">
                <span class="header-tab-title j_headerTabTit">详情</span>
            </li>
            <li class="header-tab-item customizat-wrap" id="customizate-wrap-top-hiden" style="display: none;">
                <span class="header-tab-title j_headerTabTit j_isCustomizate">定制</span>
                <div class="trangle hide"></div>
                <div class="customizat-item hide">
                    <div class="customizate-describe">需类似服务，但对价格、服务等有个性化需求？点它定制<i id="hover-close" class="iconfont icon-close"
                            data-linkid="10171359"></i></div>
                </div>
            </li>
            <li class="header-tab-item">
                <span class="header-tab-title j_headerTabTit j_isEvaluation">评价</span>
            </li>
        </ul>
        <div class="navRight">
            <div class="top-shoucang">
                <a class="idx-nav-menu j_idxNavMenu wap-shoucang" href="javascript:;">
                    <span class="iconfont icon-shoucang-new"></span>
                </a>
            </div>
            <div class="right-nav">
                <i class="yo-ico">&#xe66f;</i>

                <ul class="nav-menu new-nav-menu ">
                    <li class="new-item">
                        <i class="yo-ico">&#xe65d;</i>
                        <a href="/" class="J-life-menu">首页</a>
                    </li>
                    <li class="new-item">
                        <i class="yo-ico">&#xe627;</i>
                        <a href="/search" class="J-life-menu">分类</a>
                    </li>
                    <li class="new-item">
                        <i class="yo-ico">&#xe62a;</i>
                        <a href="/user/me" class="J-life-menu">我的</a></li>
                    <li class="new-item">
                        <i class="yo-ico">&#xe628;</i>
                        <a id="btn-new-pub-req" class="J-life-menu">发需求</a></li>
                    <li class="new-item share-commission">
                        <i class="yo-ico">&#xe61f;</i>
                        <a href="javascript:void(0)" class="J-life-menu">分享</a>
                    </li>

                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="mainContainer">
            <div class="banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                        <span class="swiper-pagination-bullet"></span>
                    </div>

                </div>
            </div>
            <div class="cateDetails">
                <div class="service-info j-old-service-info">
                    <div class="service-info-main">
                        <h3 class="service-info-tit"> 包装设计包装盒设计包装袋设计礼盒包装设计标签设计套装设计</h3>
                    </div>
                    <div class="service-info-price">
                        <div class="amount">
                            <span class="price-money">¥</span>
                            <span class="price-main"> 3000.0 / 起</span>
                            <span style="font-size: 0;white-space: nowrap;vertical-align: middle;">
                                <span class="wp-activetag hide"></span>
                                <span class="wp-countdown hide"></span>
                            </span>
                            <div class="hui-message-box"></div>
                        </div>
                        <span class="price-old"></span>

                    </div>
                    <!--添加分享-->
                    <div class="service-share">
                        <i class="yo-ico">&#xe61d;</i>
                    </div>
                    <div class="f-box sale-info">
                        <div class="flex-item border-right">
                            <div class="J-finishedTime-wrap J-flex-wrap">
                                <span class="num J-finishedTime-num">1</span>
                                <span class="unit J-finishedTime-unit">分钟</span>
                            </div>
                            平均工时
                        </div>
                        <div class="flex-item border-right">
                            <div class="J-responseTime-wrap J-flex-wrap">
                                <span class="num J-responseTime-num">1</span>
                                <span class="unit J-responseTime-unit">分钟</span>
                            </div>
                            平均响应
                        </div>
                        <div class="flex-item border-right">
                            <div class="J-flex-wrap J-total-num">
                                <span class="num">
                                    17
                                </span>
                            </div>
                            总计销量
                        </div>
                        <div class="flex-item">
                            <div class="J-flex-wrap J-store-num">
                                <span class="num">
                                    2
                                </span>
                            </div>
                            收藏数量
                        </div>
                    </div>
                </div>
            </div>
            <div id="service-integrity">
                <a href="/shop-guarantee/integrity">
                    <div class="service-integrity-con">
                        <div class="integrity-text">
                            <div class="text-dec clearfix">
                                <span class="danbao">保障</span>
                                <div class="content">
                                    <div class="text-icon">
                                        <span class="icon-guantee"></span><span>保证完成</span>
                                        <span class="icon-guantee"></span><span>保证原创</span>
                                    </div>
                                    <div class="fl"> 已缴纳保证金
                                        <span>¥10000.00</span>,承诺交易出问题先行赔付
                                    </div>
                                </div>
                                <div class="fr">
                                    <i class="yo-ico">&#xe607;</i>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="juicerdiv">

                <a class="service-hb J-service-hb" href="##">
                    点击领取<span>满减</span>满1000省50红包
                    <div><i class="yo-ico">&#xe607;</i></div>
                </a>
            </div>
            <div class="service-shop">
                <div class="f-box service-shop-box">
                    <a class="service-shop-logo-wrap">
                        <img class="service-shop-logo" src="//m.zbj.com/avatar/4905678?imageMogr2/format/webp"> </a>
                    <div class="flex-item  service-shop-tit">
                        <h3 class="shop-tit-name txt-over-ell-one" data-name="八戒iMC官方自营店">
                            <a>
                                八戒iMC官方自营店
                                <label class="label-userType">企业</label>
                                <label class="label-2">猪十二戒</label>
                            </a>
                        </h3>
                        <a>
                            <div class="shop-tit-des">
                                <div class="desc-font txt-over-ell-one"> 好评率
                                    <span class="good">98.28%</span>
                                    <p class="line"></p>
                                    近3月成交
                                    <span class="turnover">266笔</span>
                                    <p class="line line-last"></p>
                                    收入
                                    <span class="income"> 92.56万元 </span>
                                </div>
                                <i class="yo-ico">&#xe607;</i>
                            </div>
                        </a>
                        <div class="shop-tit-locate txt-over-ell-one J-tit-location">
                            <i class="yo-ico">&#xe622;</i>
                            <span id="J-location-address">北京市海淀区</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shortEvaluate">
                <div class="j_small_tabEvalate">

                    <article class="htmleaf-container">
                        <div class="employee-impress">
                            <div class="evaluat-content-title">
                                <h3 class="evaluate-title">
                                    <img src="//m.zbjimg.com/j-mobile/output/static/image/page/service/evaluate_acc94.png"
                                        class="evaluate-left">&nbsp;&nbsp;客户评价
                                    <span class="unit">(</span><span id="evaluate-number">3</span><span>条)</span>
                                </h3>
                                <div class="look-good-evaluate j_toServiceEvaluate">查看全部评价
                                    <div class="fr">
                                        <i class="yo-ico">&#xe607;</i>
                                    </div>

                                </div>
                            </div>
                            <div class="impress-label-wrap impress-label-one-line"> <span class="impress-label impress-one-line">性价比高</span>
                                <span class="impress-label impress-one-line">有创意</span> <span class="impress-label impress-one-line">专业水平高</span>
                            </div>
                        </div>
                        <div class="tabs-content">
                            <div class="evaluation-box rate-tab active good-evaluate">
                                <ul class="good-ul">
                                    <li class="evaluation-details">
                                        <!--<img src="/static/image/widget/face-default.png" data-original="https://m.zbj.com/avatar/21098724"/>-->
                                        <p> </p>
                                        <div class="contents">
                                            <div class="evaluate-list-title">
                                                <img class="evaluate-people-avtr" src="//m.zbj.com/avatar/21098724?imageMogr2/format/webp">
                                                <span class="user-name">t_7119Uet5dk</span>
                                            </div>
                                            <div class="evaluation-details-box">
                                                <p class="small-details"> 性价比高，值得推荐。。。 </p>
                                            </div>
                                        </div>

                                        <span class="evaluation-estimate">好评
                                            <div class=".evaluat-star">
                                                <i class="yo-ico">&#xe630;</i>
                                                <i class="yo-ico">&#xe630;</i>
                                                <i class="yo-ico">&#xe630;</i>
                                                <i class="yo-ico">&#xe630;</i>
                                                <i class="yo-ico">&#xe630;</i>
                                            </div>

                                        </span>
                                        <p></p>

                                    </li>
                                    <li class="evaluation-details">
                                        <!--<img src="/static/image/widget/face-default.png" data-original="https://m.zbj.com/avatar/21098724"/>-->
                                        <p> </p>
                                        <div class="contents">
                                            <div class="evaluate-list-title">
                                                <img class="evaluate-people-avtr" src="//m.zbj.com/avatar/21098724?imageMogr2/format/webp">
                                                <span class="user-name">t_7119Uet5dk</span>
                                            </div>
                                            <div class="evaluation-details-box">
                                                <p class="small-details"> 性价比高，值得推荐。。。 </p>
                                            </div>
                                        </div>

                                        <span class="evaluation-estimate">好评
                                            <div class=".evaluat-star">
                                                <i class="yo-ico">&#xe630;</i>
                                                <i class="yo-ico">&#xe630;</i>
                                                <i class="yo-ico">&#xe630;</i>
                                                <i class="yo-ico">&#xe630;</i>
                                                <i class="yo-ico">&#xe630;</i>
                                            </div>

                                        </span>
                                        <p></p>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

            </div>
            <div class="relativeCaseWrap">
                <div class="floor-title"><img class="evaluate-left" src="//m.zbjimg.com/j-mobile/output/static/image/page/service/evaluate_acc94.png">&nbsp;&nbsp;相关案例</div>
                <div class="swiper-container js-swiper-container-much swiper-container-much swiper-container-horizontal">
                    <ul id="relativeCase" class="swiper-wrapper" style="transform: translate3d(8px, 0px, 0px); transition-duration: 0ms;">
                        <li class="swiper-slide swiper-slide-active" data-linkid="10171363" style="width: 311.167px; margin-right: 8px;">
                            <a class="releative-wrap f-box" href="/shop/works/detail-wid-352040.html"> <img src="//homesitetask.zbjimg.com/homesite/task/2.jpg/origine/21a20e5a-e360-4ed6-97c1-722f427b117f?imageMogr2/format/webp"
                                    alt="八戒iMC官方自营店">
                                <div class="releative-desc flex-item">
                                    <div class="title txt-over-ell-two"> 品牌全案设计-优加爱婴儿纸尿裤包装设计 </div>
                                    <div class="desc txt-over-ell-one"> </div>
                                </div>
                            </a> </li>
                        <li class="swiper-slide swiper-slide-next" data-linkid="10171364" style="width: 311.167px; margin-right: 8px;">
                            <a class="releative-wrap f-box" href="/shop/works/detail-wid-352037.html"> <img src="//homesitetask.zbjimg.com/homesite/task/1.jpg/origine/77be1b42-f8aa-43ed-b08b-e75f95bf23a0?imageMogr2/format/webp"
                                    alt="八戒iMC官方自营店">
                                <div class="releative-desc flex-item">
                                    <div class="title txt-over-ell-two"> 品牌全案设计-龙南田田果食品有限公司包装设计 </div>
                                    <div class="desc txt-over-ell-one"> </div>
                                </div>
                            </a> </li>
                        <li class="swiper-slide" data-linkid="10171365" style="width: 311.167px; margin-right: 8px;">
                            <a class="releative-wrap f-box" href="/shop/works/detail-wid-351984.html"> <img src="//homesitetask.zbjimg.com/homesite/task/3.jpg/origine/6285da50-35c8-4db9-8457-e5c6f994cd1a?imageMogr2/format/webp"
                                    alt="八戒iMC官方自营店">
                                <div class="releative-desc flex-item">
                                    <div class="title txt-over-ell-two"> 品牌全案设计-弗斯美特包装设计 </div>
                                    <div class="desc txt-over-ell-one"> </div>
                                </div>
                            </a> </li>
                        <li class="swiper-slide" data-linkid="10171366" style="width: 311.167px; margin-right: 8px;">
                            <a class="releative-wrap f-box" href="/shop/works/detail-wid-351990.html"> <img src="//homesitetask.zbjimg.com/homesite/task/7.jpg/origine/2513e393-859c-43ae-b5c9-9896e0c3fe57?imageMogr2/format/webp"
                                    alt="八戒iMC官方自营店">
                                <div class="releative-desc flex-item">
                                    <div class="title txt-over-ell-two"> 品牌全案设计-花园畈旅游系列辣酱包装设计 </div>
                                    <div class="desc txt-over-ell-one"> </div>
                                </div>
                            </a> </li>
                        <li class="swiper-slide" data-linkid="10171367" style="width: 311.167px; margin-right: 8px;">
                            <a class="releative-wrap f-box" href="/shop/works/detail-wid-351991.html"> <img src="//homesitetask.zbjimg.com/homesite/task/8.jpg/origine/f6629132-6def-48d9-9aec-6b2853988d36?imageMogr2/format/webp"
                                    alt="八戒iMC官方自营店">
                                <div class="releative-desc flex-item">
                                    <div class="title txt-over-ell-two"> 品牌全案设计-家万聚生态农业包装设计 </div>
                                    <div class="desc txt-over-ell-one"> </div>
                                </div>
                            </a> </li>
                        <li class="swiper-slide" data-linkid="10171368" style="width: 311.167px; margin-right: 8px;">
                            <a class="releative-wrap f-box" href="/shop/works/detail-wid-351992.html"> <img src="//homesitetask.zbjimg.com/homesite/task/9.jpg/origine/50fffddf-0438-47f1-8a9e-aa3ec0f729cc?imageMogr2/format/webp"
                                    alt="八戒iMC官方自营店">
                                <div class="releative-desc flex-item">
                                    <div class="title txt-over-ell-two"> 品牌全案设计-绿海茶油包装设计 </div>
                                    <div class="desc txt-over-ell-one"> </div>
                                </div>
                            </a> </li>
                    </ul>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                            class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                            class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                            class="swiper-pagination-bullet"></span></div>
                </div>
            </div>
            <div class="tab-wap-item j_tabWapItem">
                <div class="floor-title detail"><img class="evaluate-left" src="//m.zbjimg.com/j-mobile/output/static/image/page/service/evaluate_acc94.png">&nbsp;&nbsp;服务详情</div>
                <div class="service-cont j_ServiceCont">
                    <p><img src="https://homesitetask.zbjimg.com/homesite/task/包装_01.jpg/origine/0de90c8c-2741-4a34-9c32-1260d3cf215d"><img
                            src="https://homesitetask.zbjimg.com/homesite/task/包装_02.jpg/origine/dc6b67b9-2fd8-4474-84d4-c96033a38960"><img
                            src="https://homesitetask.zbjimg.com/homesite/task/包装_03.jpg/origine/37775247-52b3-4d4a-88d0-3f58793f9cb4"><img
                            src="https://homesitetask.zbjimg.com/homesite/task/包装_04.jpg/origine/592d32b9-bbb6-4b8b-8e35-abf6a86db85b"></p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="idx-nav">
            <a id="download-app" class="download-app icon-btn" href="javascript:void(0)">
                <p><i class="icon-box icon-download-app"></i></p>
                <span>打开app</span>
            </a>
            <a class="idx-nav-menu wap-im phone-radius make-wp-im-service icon-btn" href="#">
                <p><i class="icon-box icon-message-custom"></i></p> <span>咨询</span>
            </a>
            <a id="customPhone" class="idx-nav-menu call-btn make-a-call wap-phone  icon-btn" href="javascript:;">
                <p><i class="icon-box icon-make-call"></i></p> <span>打电话</span>
            </a>
            <a class="idx-nav-btn hui-nav-btn j_idexNavBtn" href="javascript:;">
                <span>立即购买</span>
            </a>
        </div>
    </footer>
</div>