<div class='head'>
	<img src="/img/my.png" alt="">
	<span>登录/注册账号&nbsp;&nbsp;&gt;</span>
</div>
<ul class="nav">
	<li>
		<span><img src="/img/01.png" alt=""></span>
		<i>我的订单</i>
	</li>
	<li>
		<span><img src="/img/02.png" alt=""></span>
		<i>服务收藏</i>
	</li>
	<li>
		<span><img src="/img/03.png" alt=""></span>
		<i>店铺关注</i>
	</li>
	<li>
		<span><img src="/img/04.png" alt=""></span>
		<i>我的足迹</i>
	</li>
</ul>
<ul class="list1">
	<li>
		<p><img src="/img/my1.png" alt=""></p>
		<i>领八戒管家</i>
		<span>&gt;</span>
	</li>
	<li>
		<p><img src="/img/my2.png" alt=""></p>
		<i>我的账户</i>
		<span>余额、优惠券x&nbsp;&nbsp;&gt;</span>
	</li>
</ul>
<ul class="list2">
	<li>
		<p><img src="/img/my3.png" alt=""></p>
		<i>我的红包</i>
		<span>&gt;</span>
	</li>
	<li>
		<p><img src="/img/my4.png" alt=""></p>
		<i>我的优惠券</i>
		<span>&gt;</span>
	</li>
	<li>
		<p><img src="/img/my5.png" alt=""></p>
		<i>雇主俱乐部</i>
		<span>签到、积分抽大奖&nbsp;&nbsp;&gt;</span>
	</li>
</ul>
<ul class="list3">
	<li>
		<p><img src="/img/my6.png" alt=""></p>
		<i>帮助与反馈</i>
		<span>&gt;</span>
	</li>
	<li>
		<p><img src="/img/my7.png" alt=""></p>
		<i>设置</i>
		<span>&gt;</span>
	</li>
</ul>

