<div class="box">
    <div class="sear-header">
        <ul>
            <li>案例中心</li>
            <li>交易中心</li>
            <li>行业真经</li>
            <li>服务百科</li>
        </ul>
    </div>
    <div class=" container1 ">
        <ul class="swiper-wrapper">
            <li class="swiper-slide"><img src="https://mobilenewwap.zbjimg.com/mobile%2Fnewwap%2F%E6%A1%88%E4%BE%8B%E4%B8%AD%E5%BF%83.png%2Forigine%2F69abad2f-e7d2-43f7-b17a-a7982c61182b"></li>
            <li class="swiper-slide"><img src="https://mobilenewwap.zbjimg.com/mobile%2Fnewwap%2F%E5%8F%91%E7%8E%B0200.jpg%2Forigine%2F91e216a8-38e8-4ff0-8597-9ce0ec390bb0"></li>
            <li class="swiper-slide"><img src="https://mobilenewwap.zbjimg.com/mobile%2Fnewwap%2F%E6%9F%A5%E8%AF%A2%E5%93%81%E7%89%8C%E6%98%AF%E5%90%A6%E8%A2%AB%E6%8A%A2%E6%B3%A8.jpg%2Forigine%2Feddec2cc-0ddb-4fe3-b0f2-55e42c70a165"></li>
            <li class="swiper-slide"><img src="https://mobilenewwap.zbjimg.com/mobile%2Fnewwap%2Fbd.png%2Forigine%2F24603bb4-c004-47e9-a51f-9212be90ff2b"></li>
        </ul>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
        </div>
    </div>
    <div class="search-con">
        <div class="search-top">
            <div class="swiper2">
                <div class="swiper-container container2">
                    <div class="swiper-wrapper wrap2">
                        <div class="swiper-slide active" index="0"> <span>品牌设计</span></div>
                        <div class="swiper-slide"> <span>营销传播</span></div>
                        <div class="swiper-slide"> <span>文案策划</span></div>
                        <div class="swiper-slide"> <span>网站建设</span></div>
                        <div class="swiper-slide"> <span>电商设计</span></div>
                        <div class="swiper-slide"> <span>电商运营</span></div>
                        <div class="swiper-slide"> <span>微信开发</span></div>
                        <div class="swiper-slide"> <span>软件开发</span></div>
                        <div class="swiper-slide"> <span>APP开发</span></div>
                        <div class="swiper-slide"> <span>游戏</span></div>
                        <div class="swiper-slide"> <span>动画动漫</span></div>
                        <div class="swiper-slide"> <span>影视制作</span></div>
                        <div class="swiper-slide"> <span>工业设计</span></div>
                        <div class="swiper-slide"> <span>工程设计</span></div>
                        <div class="swiper-slide"> <span>公装服务</span></div>
                        <div class="swiper-slide"> <span>UI设计</span></div>
                        <div class="swiper-slide"> <span>电商视频</span></div>
                        <div class="swiper-slide"> <span>家庭装修</span></div>
                        <div class="swiper-slide"> <span>翻译</span></div>
                        <div class="swiper-slide"> <span>电商营销</span></div>
                        <div class="swiper-slide"> <span>企业宣传片</span></div>
                        <div class="swiper-slide"> <span>硬件开发</span></div>
                        <div class="swiper-slide"> <span>VR/3D</span></div>
                    </div>
                    <div class="swiper-btn">
                        <img src="../../../img/icon.png">
                    </div>
                </div>
            </div>

            <div class="search-btn">
                <ul>
                    <li class="addr">
                        <a>本地优先<span class="search_addr_ca"></span></a>
                    </li>
                    <li class="price">
                        <a data-class="0">价格<span class="span"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="search-content">
            <div class="sear-loading">
                <img src="../../../img/ajax-loader.gif">
            </div>
            <ul class="scon-list">

            </ul>
        </div>
    </div>
</div>

<div class="moban"></div>
<div class="fenlei">
    <div class="f-top">
        <div>热门分类</div>
        <div class="f-close"></div>
    </div>
    <div class="fen-box" style="height:100%">
        <ul class="fen-list">

            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E5%93%81%E7%89%8C%E8%AE%BE%E8%AE%A1.png%2Forigine%2F235ec8f0-988b-4e57-a522-b75e1974f438?imageMogr2/auto-orient/strip/quality/90">
                <p>品牌设计</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E8%90%A5%E9%94%80%E4%BC%A0%E6%92%AD.png%2Forigine%2Fbdd02ea4-f6af-4c72-bd49-b719fe3ba238?imageMogr2/auto-orient/strip/quality/90">
                <p>营销传播</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E6%96%87%E6%A1%88%E7%AD%96%E5%88%92.png%2Forigine%2F369d5818-4ac8-41ff-814f-e5a1774bd022?imageMogr2/auto-orient/strip/quality/90">
                <p>文案策划</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E7%BD%91%E7%AB%99%E5%BB%BA%E8%AE%BE.png%2Forigine%2F35bb3d20-2458-4602-a145-de5a96bf5cc0?imageMogr2/auto-orient/strip/quality/90">
                <p>网站建设</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E7%94%B5%E5%95%86%E8%AE%BE%E8%AE%A1.png%2Forigine%2F1da3a834-0804-4819-a1bc-cb56b1511e77?imageMogr2/auto-orient/strip/quality/90">
                <p>电商设计</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E7%94%B5%E5%95%86%E8%BF%90%E8%90%A5.png%2Forigine%2F986e737b-e6d7-40a6-8437-06902a5eb8dc?imageMogr2/auto-orient/strip/quality/90">
                <p>电商运营</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E5%BE%AE%E4%BF%A1%E5%BC%80%E5%8F%91.png%2Forigine%2Fe421a492-c377-4b36-9d31-a606e19b1a0e?imageMogr2/auto-orient/strip/quality/90">
                <p>微信开发</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E8%BD%AF%E4%BB%B6%E5%BC%80%E5%8F%91.png%2Forigine%2Fe3bd7aa2-f1a3-4356-9a33-ad8686e21f73?imageMogr2/auto-orient/strip/quality/90">
                <p>软件开发</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2FAPP%E5%BC%80%E5%8F%91.png%2Forigine%2F64f60bca-a457-4e44-b171-e372b3c57f43?imageMogr2/auto-orient/strip/quality/90">
                <p>APP开发</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E6%B8%B8%E6%88%8F.png%2Forigine%2Fa0ab57d4-8480-4ae8-8ad4-3d7be0d118c3?imageMogr2/auto-orient/strip/quality/90">
                <p>游戏</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E5%8A%A8%E7%94%BB%E5%8A%A8%E6%BC%AB.png%2Forigine%2F76118322-c28d-414f-9771-67a7a7235dce?imageMogr2/auto-orient/strip/quality/90">
                <p>动画动漫</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E5%BD%B1%E8%A7%86%E5%88%B6%E4%BD%9C.png%2Forigine%2F0eb567cd-3f60-4480-8c93-2f8d3e512f17?imageMogr2/auto-orient/strip/quality/90">
                <p>影视制作</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E5%B7%A5%E4%B8%9A%E8%AE%BE%E8%AE%A1.png%2Forigine%2F37d4948b-569a-4687-92af-bec7d4f465f9?imageMogr2/auto-orient/strip/quality/90">
                <p>工业设计</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E5%B7%A5%E7%A8%8B%E8%AE%BE%E8%AE%A1.png%2Forigine%2Ff55be2f6-3bb8-4273-b83b-6cd7cd2d7ca3?imageMogr2/auto-orient/strip/quality/90">
                <p>工程设计</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E5%85%AC%E8%A3%85%E6%9C%8D%E5%8A%A1.png%2Forigine%2Fbebc2ad4-a8eb-487d-9002-ce01f0f5d71c?imageMogr2/auto-orient/strip/quality/90">
                <p>公装服务</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2FUI%E8%AE%BE%E8%AE%A1.png%2Forigine%2F2997a59d-fae2-4ae9-84a8-919ffe39c859?imageMogr2/auto-orient/strip/quality/90">
                <p>UI设计</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E7%94%B5%E5%95%86%E8%A7%86%E9%A2%91.png%2Forigine%2F108de50c-0373-4a60-af3f-6c11923f099b?imageMogr2/auto-orient/strip/quality/90">
                <p>电商视频</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E5%AE%B6%E5%BA%AD%E8%A3%85%E4%BF%AE.png%2Forigine%2F46ac32e3-6594-4304-bca8-84c0f4a14bde?imageMogr2/auto-orient/strip/quality/90">
                <p>家庭装修</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E7%BF%BB%E8%AF%91.png%2Forigine%2F05356f28-b17e-45a8-93e3-0eb6d6045583?imageMogr2/auto-orient/strip/quality/90">
                <p>翻译</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E7%94%B5%E5%95%86%E8%90%A5%E9%94%80.png%2Forigine%2F43ab399b-7bea-4650-98de-b23082ea3733?imageMogr2/auto-orient/strip/quality/90">
                <p>电商营销</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E4%BC%81%E4%B8%9A%E5%AE%A3%E4%BC%A0%E7%89%87.png%2Forigine%2F2849a121-159e-4222-abb6-d0cebf3b916d?imageMogr2/auto-orient/strip/quality/90">
                <p>企业宣传片</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F%E7%A1%AC%E4%BB%B6%E5%BC%80%E5%8F%91.png%2Forigine%2F3c4891ed-f183-47bf-be38-5b4ec16ce24f?imageMogr2/auto-orient/strip/quality/90">
                <p>硬件开发</p>
            </li>
            <li>
                <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2FVR.3D.png%2Forigine%2F872d2c46-185f-4056-93cd-24c8dddca436?imageMogr2/auto-orient/strip/quality/90">
                <p>VR/3D</p>
            </li>
        </ul>
    </div>
</div>