<div class="transaction-head">
    <div class="tran-head-btn">
        <a class="return">
            <span>返回</span>
        </a>
    </div>
    <div class="tran-head-title">
        交易中心
    </div>
</div>
<div class="transaction-search">
    <div class="tran-cont-search">
        <form action="" class="tran-search-form">
            <i class="yo-ico">&#xe625;</i>
            <input type="search" placeholder="搜索你想要的需求，如“APP开发”" class="tran-search-area">
        </form>
        <span class="tran-search-cancel">
            <a href="##">筛选</a>
        </span>
    </div>
</div>
<div class="transaction-market-box">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="transaction-item">
                    <div class="transaction-info">
                        <ul>
                            <li>
                                <a href="##">
                                    <img src="//rms.zbj.com/resource/redirect?key=homesite/task/工业智造.png/origine/80a77695-035f-4bf4-a269-b01da31bb92f">
                                    <p>工业智造</p>
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="//rms.zbj.com/resource/redirect?key=homesite/task/品牌.png/origine/495a2558-c2d9-4011-81dc-6f60db7c9a5e">
                                    <p>品牌市场</p>
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="//rms.zbj.com/resource/redirect?key=homesite/task/电商.png/origine/56444ff4-d5b6-4af3-bbf9-7e5bdf35ef92">
                                    <p>电商市场</p>
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="//rms.zbj.com/resource/redirect?key=homesite/task/游戏.png/origine/6b264a19-42b4-4fb0-9119-4a07952b2b9c">
                                    <p>游戏市场</p>
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="//rms.zbj.com/resource/redirect?key=homesite/task/IT.png/origine/74f253b6-b2c7-4b1d-92b8-7f99cf539a85">
                                    <p>软件严选</p>
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="//rms.zbj.com/resource/redirect?key=homesite/task/影视.png/origine/2cc31129-c8e0-449a-8967-7d551ea53bf4">
                                    <p>影视动漫</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</div>
<div class="transaction-main">
    <div class="tranc-loading">
        <img src="./../../../img/ajax-loader.gif">
    </div>
    <ul>
        
    </ul>
</div>