<div class="homeContent">
    <!-- 轮播图 -->
    <div class="banner">
        <div class="h">
            <p>
                <img src="/img/h1.png" alt="">
                <i>全国</i>
            </p>
            <input type="text" placeholder="搜索专业人才为您服务,如:包装设计">
            <p>
                <img src="img/h2.png" alt="">
                <i>分类</i>
            </p>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌.jpg/origine/4aa949c9-f3db-4047-a5b5-b797ffc6fc93"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/国庆幻灯.png/origine/922380a6-9c34-433f-a15f-a2bcf28040bf"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/营销策划banner.jpg/origine/f744c10b-8de0-4b40-8d7c-ec85e0f5950a"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/电商banner.jpg/origine/a383de16-41b3-4dc9-bd64-0e41333b60c5"
                        alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- 图片区域 -->
    <div class="imgs">
        <ul class="left">
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌设计.png/origine/6db6d160-5fbe-4584-bec5-ef73b23e5660"
                    alt="">
                <i>品牌设计</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/营销推广.png/origine/77446942-0ff1-454d-a0ba-072705fcb17c"
                    alt="">
                <i>营销传播</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/IT软件.png/origine/003cb6c9-bec0-4c8b-951b-9d55848badd0"
                    alt="">
                <i>IT/软件</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/触屏版-知识产权.png/origine/e2ce6616-1909-4619-b285-a2cdd0e68d34"
                    alt="">
                <i>知识产权</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/工商财税.png/origine/baed72d6-e3e4-44d5-b56e-685dae53559a"
                    alt="">
                <i>工商财税</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/科技服务.png/origine/eb086a0f-a8c0-4ebf-a9ff-36147649bb0c"
                    alt="">
                <i>科技服务</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/金融服务.png/origine/282c09b6-1590-41f9-9db3-ac5177b02bf6"
                    alt="">
                <i>金融服务</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/电商服务副本.png/origine/41c461da-53fe-4c3e-aabd-261a4b79dc1e"
                    alt="">
                <i>电商服务</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/装修服务.png/origine/3660f276-8f4a-46ce-ad77-c2a228f0c8a9"
                    alt="">
                <i>装修服务</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/更多分类.png/origine/bea5c36a-63ca-4dde-9e9d-db15a1f56b08"
                    alt="">
                <i>全部分类</i>
            </li>
        </ul>
        <ul class="right swiper-slide">
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/影视动漫.png/origine/8acf08e4-ff7e-450a-bb49-62bd7c8229f1"
                    alt="">
                <i>影视动漫</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌设计.png/origine/6db6d160-5fbe-4584-bec5-ef73b23e5660"
                    alt="">
                <i>营销传播</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌设计.png/origine/6db6d160-5fbe-4584-bec5-ef73b23e5660"
                    alt="">
                <i>品牌设计</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌设计.png/origine/6db6d160-5fbe-4584-bec5-ef73b23e5660"
                    alt="">
                <i>品牌设计</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌设计.png/origine/6db6d160-5fbe-4584-bec5-ef73b23e5660"
                    alt="">
                <i>品牌设计</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌设计.png/origine/6db6d160-5fbe-4584-bec5-ef73b23e5660"
                    alt="">
                <i>品牌设计</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌设计.png/origine/6db6d160-5fbe-4584-bec5-ef73b23e5660"
                    alt="">
                <i>品牌设计</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌设计.png/origine/6db6d160-5fbe-4584-bec5-ef73b23e5660"
                    alt="">
                <i>品牌设计</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌设计.png/origine/6db6d160-5fbe-4584-bec5-ef73b23e5660"
                    alt="">
                <i>品牌设计</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/品牌设计.png/origine/6db6d160-5fbe-4584-bec5-ef73b23e5660"
                    alt="">
                <i>品牌设计</i>
            </li>
        </ul>
        <div class="btn">
            <i></i>
            <i></i>
        </div>
    </div>
    <!-- 文字滚动区域 -->
    <div class="text">
        <div class="l">
            <img src="/img/news.png" alt="">
        </div>
        <ul class="r _container" id='scroll'>
            <li>
                <p>
                    <span>恭喜[t************]、[文客阿D]</span>
                    <em>今日21:40签订&nbsp;&nbsp;
                        <b>专业代笔</b>&nbsp;&nbsp;订单</em>
                </p>
                <i>&gt;</i>
            </li>
            <li>
                <p>
                    <span>恭喜[叶****]、[卖豹速推.旗舰店]</span>
                    <em>今日22:48&nbsp;&nbsp;
                        <b>网店代运营</b>&nbsp;&nbsp;订单</em>
                </p>
                <i>&gt;</i>
            </li>
            <li>
                <p>
                    <span>恭喜[m************]、[艺卖品牌全案机构]</span>
                    <em>今日22:20签订&nbsp;&nbsp;
                        <b>网店代运营</b>&nbsp;&nbsp;订单</em>
                </p>
                <i>&gt;</i>
            </li>
            <li>
                <p>
                    <span>恭喜[m************]、[中宇电商]</span>
                    <em>今日22:16签订&nbsp;&nbsp;
                        <b>网店代运营</b>&nbsp;&nbsp;订单</em>
                </p>
                <i>&gt;</i>
            </li>
            <li>
                <p>
                    <span>恭喜[m************]、[意象高端品牌策划]</span>
                    <em>今日22:11签订&nbsp;&nbsp;
                        <b>网店代运营</b>&nbsp;&nbsp;订单</em>
                </p>
                <i>&gt;</i>
            </li>
        </ul>
    </div>
    <!--  广告区域-->
    <ul class="ad">
        <li>
            <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/pic-天天特惠.png/origine/6c1f1767-fad1-4cd9-bc03-426d39948641"
                alt="">
        </li>
        <li>
            <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/需求包搞定.png/origine/9c6706fe-ce54-4a0c-8aca-1df7e3678e87"
                alt="">
        </li>
        <li>
            <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/pic-顾问咨询.png/origine/a379732e-f854-45d2-9d8a-7ab05ab6771e"
                alt="">
        </li>
        <li>
            <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/pic-附近人才.png/origine/00f12b07-9cdc-49e5-9b4c-ecc06080d2c0"
                alt="">
        </li>
    </ul>
    <!-- 快捷工具 -->
    <div class="tool">
        <h2>快捷工具</h2>
        <ul class="list">
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/易核名.png/origine/c701fc02-f0da-4dda-9615-27fd6eaff022"
                    alt="">
                <i>免费核名</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/商标成功率.png/origine/1afb9bf1-b15b-4d4c-82ae-8a90ece3a05d"
                    alt="">
                <i>商标成功率</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/专利查询.png/origine/950340f2-6c60-4506-8ba6-e6664f0360ee"
                    alt="">
                <i>专利查询</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/项目评估.png/origine/479e867c-6d6f-48cd-9dc4-72845d94c427"
                    alt="">
                <i>项目评估</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/商标分类查询.png/origine/46d0bae9-4037-44b8-84fe-78b19f94beae"
                    alt="">
                <i>免费找标</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/免费估价.png/origine/b8fb0673-9616-450b-be94-cd49bfec9f72"
                    alt="">
                <i>服务估价</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/易查账.png/origine/a21e2675-cc63-4638-93fb-ecd573596740"
                    alt="">
                <i>代做账</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/节税计算器.png/origine/24da5a77-5805-457a-8934-543419bb2eae"
                    alt="">
                <i>节税计算器</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/高企针断.png/origine/8d262c00-3183-4938-8368-50e3f96a3884"
                    alt="">
                <i>高企测评</i>
            </li>
            <li>
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/八戒分期.png/origine/8fb0af4b-2d3b-41c6-aa27-f47916cfbdb6"
                    alt="">
                <i>快速借款</i>
            </li>
        </ul>
    </div>
    <!--  轮播图2-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="//rms.zbj.com/resource/redirect?key=mobile/newwap/JULEBU.png/origine/1bffb2cb-14ac-4498-bc2d-268a73566f96">
            </div>
            <div class="swiper-slide">
                <img src="//rms.zbj.com/resource/redirect?key=homesite/task/要站app触屏版首页.jpg/origine/2e617c71-8254-424f-a178-0ac56b7b82b4">
            </div>
            <div class="swiper-slide">
                <img src="//rms.zbj.com/resource/redirect?key=homesite/task/有设app触屏版.jpg/origine/006ea850-9f3f-47c3-b26d-7c1567cc67d0">
            </div>
            <div class="swiper-slide">
                <img src="//rms.zbj.com/resource/redirect?key=homesite/res/150.jpg/origine/f6c28d1b-0541-45ba-ad54-66150dbd8afa">
            </div>
        </div>
    </div>
    <!-- 新闻列表 -->
    <div id="newsList">
        <div class="swiper-wrapper">
            <div class="swiper-slide color">猜你喜欢</div>
            <div class="swiper-slide">品牌设计</div>
            <div class="swiper-slide">营销传播</div>
            <div class="swiper-slide">文案策划</div>
            <div class="swiper-slide">网站建设</div>
            <div class="swiper-slide">电商设计</div>
            <div class="swiper-slide">电商运营</div>
            <div class="swiper-slide">微信开发</div>
            <div class="swiper-slide">软件开发</div>
            <div class="swiper-slide">APP开发</div>
            <div class="swiper-slide">游戏</div>
            <div class="swiper-slide">动画动漫</div>
            <div class="swiper-slide">影视制作</div>
            <div class="swiper-slide">工业设计</div>
            <div class="swiper-slide">工程设计</div>
            <div class="swiper-slide">公装服务</div>
            <div class="swiper-slide">UI设计</div>
            <div class="swiper-slide">电商视频</div>
            <div class="swiper-slide">家庭装修</div>
            <div class="swiper-slide">翻译</div>
            <div class="swiper-slide">电商营销</div>
            <div class="swiper-slide">企业宣传片</div>
            <div class="swiper-slide">硬件开发</div>
            <div class="swiper-slide">VR/3D</div>
        </div>
    </div>
    <!-- 数据渲染 -->
    <ul class="dataList"></ul>
    <!-- 最后 -->
    <div class="last">
        <h3>到底了</h3>
    </div>
</div>